* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
   
    margin: 0 auto;
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}



.tabs button:disabled {
    background: linear-gradient(245.39deg, #373b44 -35.14%,  #4286f4 143.06%);
    color: white;
}



.content {
    padding: 50px 80px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content,
button {
    font-size: 15px;
}


@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}