.carbutton {
    width: 200px;
    height: 70px;
    padding: 20px;
    background: #212121;
    border: 6px double #e8e8e8;
    transition: 0.2s;
  }
  
  .caption {
    color: #e8e8e8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .car {
    fill: #e8e8e8;
    width: 50px;
    height: 50px;
    margin-left: -120px;
    margin-top: -35px;
    transition: 0.2s ease-in-out;
  }
  
  .carbutton:not(:hover) .car {
    opacity: 0%;
    transform: translateX(-150px);
  }
  
  .carbutton:hover .caption {
    opacity: 0%;
  }
  
  .carbutton:focus .car {
    transform: translateX(120px);
  }
  















  .Hcard svg {
    height: 25px;
  }
  
  .Hcard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
  }
  
  .Hcard::before, .Hcard::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .Hcard::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
  }
  
  .Hcard::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
  }
  
  .Hcard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .Hcard:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .Hcard:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .Hcard:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .Hcard span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  
  .Hcard .Hsocial-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .Hcard .Hsocial-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .Hcard .Hsocial-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }




  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  .heading {
      text-align: center;
      font-size: 2.0em;
      letter-spacing: 1px;
      padding: 40px;
      color: white;
  }
  
  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }